@use '../../scss/variables' as var;

.pagination_button {
  padding: 2rem;
  background-color: var.$accent-color;
  transition: all 0.4s ease;

  &.count {
    cursor: default;
    font-weight: 700;
    pointer-events: none;
  }

  &:hover {
    background-color: var.$button-hover;
  }
}

.wrapper {
  width: 20%;
  display: flex;
  justify-content: center;
  column-gap: 0.15em;
}
