.loader_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 30px;
  position: relative;
  vertical-align: top;
  transition:
    0.3s color,
    0.3s border,
    0.3s transform,
    0.3s opacity;
}

.loader {
  box-sizing: content-box;
  position: relative;
  width: 2em;
  height: 2em;
  color: inherit;
  vertical-align: middle;
  pointer-events: none;
  border: 0.3em solid transparent;
  border-top-color: currentcolor;
  border-radius: 50%;
  animation: 1s loading linear infinite;
  &:before {
    content: '';
    display: block;
    width: inherit;
    height: inherit;
    position: absolute;
    top: -0.3em;
    left: -0.3em;
    border: 0.3em solid currentcolor;
    border-radius: 50%;
    opacity: 0.5;
  }
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
