@use '../../scss/variables' as var;
.content {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
}

.content_items {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-between;
  gap: 0.8rem;

  @media screen and (max-width: var.$mobile) {
    justify-content: center;
  }
}
