.password_field {
  font-size: 1rem;
  display: block;

  .password_text {
    height: 2rem;
    position: absolute;
    right: 0;
    text-align: center;
    vertical-align:middle;
    padding: 0.1rem;
  }
  .weak {
    color: red;
  }
  .normal {
    color: yellow;
  }
  .strong {
    color: green;
  }
}

