$primary-color: #747474;
$secondary-color: #858785;
$accent-color: #ebc9a8;
$font-color: #000000;
$link-color: #555754c1;
$link-hover: #7c7e7cc1;
$button-hover: #f4bd86;
$header-color: #000000;
$contrast: #d5cbcb;
$font: 'Roboto Slab', serif;

$tablet: 768px;
$fhd: 1280px;
$mobile: 500px;
